<nav class="p-2 bg-secondary">
    <a href="/" class="p-2 text-light w-100">Homepage</a>
    <a href="/dashboard" class="p-2 text-light">Dashboard</a>
    <a href="/login" class="p-2 text-light">Login</a>
    <a href="/upload" class="p-2 text-light">Upload</a>
    <a href="/human" class="p-2 text-light">Human verify</a>
</nav>