<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-left">
                <h1>Welcome to talents</h1>
                <%- include('./partials/nav.ejs') %>
            </div>
        </div>
    </div>
    <div>
        <h1>Talent Applied Successfully!</h1>
    </div>

    
    
    
</body>
</html>